@font-face {
    font-family: Roboto;
    src: url(font.ttf);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(font_monospace.ttf);
}

body {
    font-family: "Roboto", sans-serif;
}

code {
    font-family: "JetBrains Mono", monospace;
}

.highlight {
    background-color: yellow;
}

a[target="_blank"], a[target="_blank"]:hover {
    color: darkslategray;
}