<a href="index.php"><h1>Lody Vanillowe</h1></a>
<hr />
<a href="index.php?p=map.html">Mapa</a>
<a href="index.php?p=highway_map.html">Mapa lodostrad</a>
<a href="index.php?p=stats.html">Statystyki</a>
<a href="index.php?p=faq.html">FAQ</a>
<a href="index.php?p=rules.html">Zasady</a>
<a href="index.php?p=players.php">Gracze</a>
<a href="index.php?p=history.html">Historia</a>
<a href="index.php?p=youtube.html">Lody na YouTube</a>
<br />
<b>Subserwery:</b>
<a href="index.php?p=server/bedrock.php">Lody Bedrockowe</a>
<a href="index.php?p=server/creative.html">Lody Kreatywne</a>
<a href="index.php?p=server/experimental.html">Lody X</a>
<hr />