<h2>Strona główna</h2>

<p>
    Witaj na oficjalnej stronie Lodów Vanillowych.
</p>

<p>
    Jest to prywatny serwer SMP (Survival Multiplayer, czyli Wieloosobowe Przetrwanie) na którym gramy ze znajomymi, próbując osiągnąć jak najwięcej z tego, co oferuje Minecraft.
</p>

<img src="https://mcapi.us/server/image?ip=stary.pc.pl&title=Lody Vanillowe" />

<h3>Adres IP</h3>
<code>stary.pc.pl:25565</code>